.owl-carousel
    margin-top: 50px
    margin-bottom: 50px
    padding-top: 50px
    background-color: #f9f9f9
.owl-nav
    display: block
    padding-top: 54px
    padding-bottom: 60px
    padding-left: 1450px
.owl-prev
    margin-right: 40px
.disabled
    opacity: 0.5
.carousel-card
    width: 423px
    height: 644px
    margin-right: 75px
    margin-left: 75px
    .carousel
        &-wrapper
            max-width: 423px
            height: 521px
            padding: 40px
            background: radial-gradient(50% 50% at 50% 50%, #F7FFFE 0%, #DAF7F0 100%)
            &__lightblue
                background: radial-gradient(50% 50% at 50% 50%, #F1F8FF 0%, #DDF1FF 100%)
        &-photo
            img
                max-width: 341px
                height: 440px
                object-fit: contain
        &-title
            font-style: normal
            padding-top: 16px
            font-weight: 500
            font-size: 32px
            line-height: 41px
        &-subtitle
            max-width: 400px
            padding-top: 10px
            font-style: normal
            font-weight: normal
            font-size: 22px
            line-height: 28px