@font-face {
    font-family: 'Stem';
    src: url('../fonts/Stem-Light.eot');
    src: local('../fonts/Stem Light'), local('Stem-Light'),
        url('../fonts/Stem-Light.eot?#iefix') format('embedded-opentype'),
        url('../fonts/Stem-Light.woff2') format('woff2'),
        url('../fonts/Stem-Light.woff') format('woff'),
        url('../fonts/Stem-Light.ttf') format('truetype');
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: 'Stem';
    src: url('../fonts/Stem-Medium.eot');
    src: local('../fonts/Stem Medium'), local('Stem-Medium'),
        url('../fonts/Stem-Medium.eot?#iefix') format('embedded-opentype'),
        url('../fonts/Stem-Medium.woff2') format('woff2'),
        url('../fonts/Stem-Medium.woff') format('woff'),
        url('../fonts/Stem-Medium.ttf') format('truetype');
    font-weight: 500;
    font-style: normal;
}

@font-face {
    font-family: 'Stem';
    src: url('../fonts/Stem-Bold.eot');
    src: local('../fonts/Stem Bold'), local('Stem-Bold'),
        url('../fonts/Stem-Bold.eot?#iefix') format('embedded-opentype'),
        url('../fonts/Stem-Bold.woff2') format('woff2'),
        url('../fonts/Stem-Bold.woff') format('woff'),
        url('../fonts/Stem-Bold.ttf') format('truetype');
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'Stem';
    src: url('../fonts/Stem-Regular.eot');
    src: local('../fonts/Stem Regular'), local('Stem-Regular'),
        url('../fonts/Stem-Regular.eot?#iefix') format('embedded-opentype'),
        url('../fonts/Stem-Regular.woff2') format('woff2'),
        url('../fonts/Stem-Regular.woff') format('woff'),
        url('../fonts/Stem-Regular.ttf') format('truetype');
    font-weight: 400;
    font-style: normal;
}
