* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: 'Stem', sans-serif;
}

.container {
  position: relative;
  max-width: 1500px;
  margin: 0 auto;
}

header {
  height: 97px;
}

header nav {
  padding-top: 37px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

header nav img {
  width: 142px;
  height: 25px;
}

header nav ul {
  margin: 0;
  padding: 4px;
  padding-left: 200px;
}

header nav ul li {
  display: inline;
  margin-right: 5px;
  padding-right: 35px;
  text-decoration: none;
}

header nav ul li a {
  position: relative;
  text-decoration: none;
  color: #313131;
  font-family: Stem;
  font-style: normal;
  font-weight: 500;
  font-size: 22px;
  line-height: 28px;
  -webkit-transition: all 1s;
  transition: all 1s;
}

header nav ul li a:after {
  display: block;
  position: absolute;
  left: 0;
  width: 0;
  height: 2px;
  background-color: #000000;
  content: "";
  -webkit-transition: width 0.3s ease-out;
  transition: width 0.3s ease-out;
}

header nav ul li a:hover:after {
  width: 100%;
}

header nav button {
  display: block;
  width: 235px;
  height: 61px;
  background-color: #fff;
  border: 1px solid #5432E2;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  border-radius: 100px;
  font-style: normal;
  font-weight: 500;
  font-size: 22px;
  cursor: pointer;
  line-height: 28px;
  -webkit-transition: all 0.4s ease;
  transition: all 0.4s ease;
}

header nav button:hover {
  background-color: #5432E2;
  color: #fff;
}

@media screen and (max-width: 320px) {
  header {
    background-color: #F8F8F8;
    height: 50px;
  }
  header nav {
    padding-top: 7px;
  }
  header nav img {
    width: 105px;
    padding-left: 30px;
  }
  header nav button {
    margin-right: 10px;
    height: 35px;
    width: 130px;
    font-style: normal;
    font-weight: 500;
    font-size: 12px;
    line-height: 15px;
  }
  header ul {
    display: none;
  }
}

.menu {
  height: 60px;
  width: 60px;
  background-color: #5432E2;
  border-radius: 50%;
  position: relative;
}

.menu:hover {
  cursor: pointer;
}

.menu:hover .hambergerIcon:before {
  -webkit-transform: translateX(100%);
          transform: translateX(100%);
}

.menu:hover .hambergerIcon:after {
  -webkit-transform: translateX(-100%);
          transform: translateX(-100%);
}

.hambergerIcon {
  height: 3px;
  width: 26px;
  position: absolute;
  background-color: #fff;
  top: 50%;
  left: 50%;
  margin-left: -13px;
  border-radius: 50px;
  -webkit-transition: all ease 0.5s;
  transition: all ease 0.5s;
}

.hambergerIcon:before, .hambergerIcon:after {
  content: "";
  position: absolute;
  height: inherit;
  border-radius: inherit;
  background-color: inherit;
  margin: auto;
  width: 50%;
  -webkit-transition: all ease 0.5s;
  transition: all ease 0.5s;
}

.hambergerIcon:before {
  top: -10px;
  left: 0;
}

.hambergerIcon:after {
  bottom: -10px;
  right: 0;
}

@media screen and (max-width: 320px) {
  .menu {
    width: 30px;
    height: 30px;
  }
  .hambergerIcon {
    width: 15px;
    height: 2px;
    margin-left: -7px;
  }
  .hambergerIcon:before {
    top: -5px;
  }
  .hambergerIcon:after {
    bottom: -5px;
  }
}

.main {
  padding-top: 150px;
}

.main-content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: end;
  -ms-flex-align: end;
  align-items: flex-end;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
}

.main-title {
  font-family: Stem;
  font-style: normal;
  font-weight: bold;
  font-size: 65px;
  line-height: 84px;
}

.main-link {
  width: 171px;
  -webkit-transition: all 0.5s ease;
  transition: all 0.5s ease;
}

.main-link:hover {
  -webkit-transform: translateX(5px);
          transform: translateX(5px);
}

.main-link a {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
  -ms-flex-pack: distribute;
  justify-content: space-around;
  text-decoration: none;
}

.main-link__text {
  font-family: 'Stem';
  font-weight: 400;
  font-size: 25px;
  color: #313131;
}

.slider {
  margin-top: 54px;
  background-color: #F9F9F9;
  width: 100%;
  height: 860px;
}

.card {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding-top: 56px;
  padding-right: 76px;
  padding-left: 76px;
}

.card-item {
  width: 423px;
  height: 521px;
  position: relative;
  background: radial-gradient(50% 50% at 50% 50%, #F7FFFE 0%, #DAF7F0 100%);
}

.card-item img {
  position: absolute;
  padding: 40px;
}

.card-title {
  font-style: normal;
  font-weight: 500;
  font-size: 32px;
  line-height: 41px;
  padding-top: 16px;
}

.card-subtitle {
  font-style: normal;
  font-weight: normal;
  font-size: 22px;
  line-height: 28px;
  padding-top: 10px;
}

@media screen and (max-width: 320px) {
  .main {
    padding-top: 44px;
  }
  .main-title {
    padding: 0 22px;
    font-style: normal;
    font-weight: bold;
    font-size: 30px;
    line-height: 39px;
  }
  .main-link {
    display: none;
  }
}

.owl-carousel {
  margin-top: 50px;
  margin-bottom: 50px;
  padding-top: 50px;
  background-color: #f9f9f9;
}

.owl-nav {
  display: block;
  padding-top: 54px;
  padding-bottom: 60px;
  padding-left: 1450px;
}

.owl-prev {
  margin-right: 40px;
}

.disabled {
  opacity: 0.5;
}

.carousel-card {
  width: 423px;
  height: 644px;
  margin-right: 75px;
  margin-left: 75px;
}

.carousel-card .carousel-wrapper {
  max-width: 423px;
  padding: 40px;
  background: radial-gradient(50% 50% at 50% 50%, #F7FFFE 0%, #DAF7F0 100%);
}

.carousel-card .carousel-wrapper__lightblue {
  background: radial-gradient(50% 50% at 50% 50%, #F1F8FF 0%, #DDF1FF 100%);
}

.carousel-card .carousel-photo img {
  max-width: 341px;
  height: 440px;
  -o-object-fit: contain;
     object-fit: contain;
}

.carousel-card .carousel-title {
  font-style: normal;
  padding-top: 16px;
  font-weight: 500;
  font-size: 32px;
  line-height: 41px;
}

.carousel-card .carousel-subtitle {
  max-width: 400px;
  padding-top: 10px;
  font-style: normal;
  font-weight: normal;
  font-size: 22px;
  line-height: 28px;
}

@media screen and (max-width: 320px) {
  .owl-carousel {
    background-color: #fff;
    margin-top: 0;
    margin-bottom: 25px;
  }
  .ovl-nav {
    display: none;
  }
  .carousel-card {
    width: 275px;
    height: 155px;
    margin-left: 22px;
  }
  .carousel-card .carousel-wrapper {
    padding: 0;
  }
  .carousel-card .carousel-photo {
    width: 200px;
    height: 100px;
  }
  .carousel-card .carousel-photo img {
    width: 190px;
    height: 90px;
    padding-top: 10px;
  }
  .carousel-card .carousel-title {
    font-style: normal;
    padding-top: 15px;
    font-weight: 500;
    font-size: 17px;
    line-height: 22px;
  }
  .carousel-card .carousel-subtitle {
    padding-top: 5px;
    font-style: normal;
    font-weight: normal;
    font-size: 12px;
    line-height: 15px;
  }
}

footer {
  background-color: #313131;
  color: #fff;
  font-style: normal;
  font-weight: normal;
  font-size: 20px;
  line-height: 26px;
}

footer a {
  color: #fff;
}

.footer-grid {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr 1fr 1fr;
      grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-row-gap: 100px;
  padding-top: 60px;
  padding-bottom: 54px;
}

.footer-grid__icons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.footer-grid__icons div {
  padding-right: 20px;
}

.footer-grid__icons div svg:hover circle {
  -webkit-transition: all 0.5s ease;
  transition: all 0.5s ease;
  fill: #5432E2;
}

.footer-grid__icons div svg:hover path {
  -webkit-transition: all 0.5s ease;
  transition: all 0.5s ease;
  fill: #fff;
}

.footer-grid__links {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr;
      grid-template-columns: 1fr 1fr;
}

.footer-grid__links-item {
  padding-bottom: 15px;
  text-decoration: none;
  opacity: 0.5;
  -webkit-transition: all 0.5s ease;
  transition: all 0.5s ease;
}

.footer-grid__links-item:hover {
  opacity: 1;
}

.footer-grid__contacts {
  display: -ms-grid;
  display: grid;
  -ms-grid-rows: 1fr 1fr 1fr;
      grid-template-rows: 1fr 1fr 1fr;
}

.footer-grid__contacts a {
  padding-bottom: 15px;
  text-decoration: none;
  position: relative;
  -webkit-transition: all 1s;
  transition: all 1s;
}

.footer-grid__contacts a::after {
  display: block;
  position: absolute;
  left: 0;
  width: 0;
  height: 2px;
  background-color: #ffffff;
  content: "";
  -webkit-transition: width 0.3s ease-out;
  transition: width 0.3s ease-out;
}

.footer-grid__contacts a:hover:after {
  width: 55%;
}

.footer-grid__logo {
  -ms-flex-item-align: start;
      -ms-grid-row-align: start;
      align-self: start;
  padding-left: 250px;
}

.footer-grid__policy {
  -ms-grid-column: 3;
      grid-column-start: 3;
}

.footer-grid__policy a {
  display: block;
  opacity: 0.5;
  -webkit-transition: all 0.5s ease;
  transition: all 0.5s ease;
}

.footer-grid__policy a:hover {
  opacity: 1;
}

.footer-grid__up {
  -ms-grid-column: 4;
      grid-column-start: 4;
}

.footer-grid__up a {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  text-decoration: none;
  opacity: 0.5;
  -webkit-transition: all 0.5s ease;
  transition: all 0.5s ease;
}

.footer-grid__up a:hover {
  opacity: 1;
}

.footer-grid__up a svg {
  padding-left: 10px;
}

@media screen and (max-width: 320px) {
  footer {
    font-style: normal;
    font-weight: normal;
    font-size: 11px;
    line-height: 14px;
    max-width: 320px;
  }
  .footer-grid {
    display: -ms-grid;
    display: grid;
    padding-left: 20px;
    padding-bottom: 20px;
    -ms-grid-columns: 160px 160px;
        grid-template-columns: 160px 160px;
    -ms-grid-rows: 80px 80px 35px 15px 30px;
        grid-template-rows: 80px 80px 35px 15px 30px;
    grid-row-gap: 30px;
  }
  .footer-grid__logo {
    position: relative;
    -ms-flex-item-align: self-start;
        -ms-grid-row-align: self-start;
        align-self: self-start;
    -ms-grid-column: 2;
        grid-column-start: 2;
    -ms-grid-row: 1;
        grid-row-start: 1;
    padding-left: 0;
  }
  .footer-grid__logo svg {
    position: absolute;
    top: 0;
    right: 45px;
  }
  .footer-grid__links {
    -ms-grid-column: 1;
        grid-column-start: 1;
    -ms-grid-row: 1;
        grid-row-start: 1;
  }
  .footer-grid__contacts {
    -ms-grid-column: 1;
        grid-column-start: 1;
    grid-column-end: 3;
    -ms-grid-row: 2;
        grid-row-start: 2;
  }
  .footer-grid__icons {
    -ms-grid-column: 1;
        grid-column-start: 1;
    -ms-grid-row: 3;
        grid-row-start: 3;
  }
  .footer-grid__icons div {
    padding-right: 10px;
  }
  .footer-grid__icons div a svg {
    width: 30px;
    height: 30px;
  }
  .footer-grid__copyright {
    -ms-grid-column: 1;
        grid-column-start: 1;
    -ms-grid-row: 4;
        grid-row-start: 4;
  }
  .footer-grid__policy {
    -ms-grid-column: 1;
        grid-column-start: 1;
    grid-column-end: 3;
    -ms-grid-row: 5;
        grid-row-start: 5;
    -ms-flex-item-align: center;
        -ms-grid-row-align: center;
        align-self: center;
  }
  .footer-grid__up {
    -ms-grid-column: 2;
        grid-column-start: 2;
    -ms-grid-row: 5;
        grid-row-start: 5;
  }
}
